{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load cloudinary %}
{% block content %}
<h1 class="create-form">Reservation Form</h1>
<form class="create-form" id="edit-reserve-form" action="#" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form | crispy }}

    <button type="button" class="form-button">
        <a href="{% url 'reservations' %}" class="back-link">Go Back</a>
      </button>
      
      <button type="submit" class="form-button">Submit</button>
      

</form>

{% endblock %}