{% extends 'base.html' %}
{% block content %}

<!-- Banner section -->
<section id="home" class="banner_wrapper">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 text-center text-lg-start order-lg-1 order-2">
                <h1><span>INDIAN TUIN RESTAURANT</span><br></h1>
                <p><i>A treat for your taste buds!!</i></p>
                <a class="main-btn mt-4" href="{% url 'menu' %}">View Menu</a>
            </div>
            <div class="col-lg-7 text-center order-lg-2 order-1">
                <img src="{{banner_image.image.url}}" class="img-fluid" alt="banner-image">
            </div>
        </div>
        <!-- About section -->
        <section id="about" class="about_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5 mb-4 mb-lg-0 order-lg-1 order-2">
                        <div class="card rounded-0">
                            <div class="card-body pt-5">
                                <h3>Welcome to Our Restaurant</h3>
                                <p>We create a finest taste of Indian cuisines and we also offer a perfect
                                    place to enjoy meal together with your family and friends.
                                </p>

                                <a href="{% url 'restaurant:reservations' %}" class="main-btn mt-4">Book a Table</Table>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7 mb-4 mb-lg-0 order-lg-2 order-1">
                        <img src="{{about_image.image.url}}" class="img-fluid" alt="About Us">
                    </div>

                </div>
            </div>
        </section>
    </div>
</section>
<!-- About section exit -->
{% endblock %}