{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="menu-title text-center">Reservation Successful!</h1>
    <p class="text-success mt-5">TThank you for choosing our restaurant.</p>
    <p class="text-primary">Users have to login to edit or delete their reservations.</p>
    <p class="text-danger mb-4">Unregistered users have to contact us to edit or cancel their reservation</p>
    <p>Please contact us at:</p>
    <ul class="list-unstyled">
        <li class="mb-4"><i class="bi bi-envelope-fill me-3"></i><strong>Email:</strong> indian_tuin@gmail.com</li>
        <li class="mb-4"><i class="bi bi-phone-fill me-3"></i><strong>Contact Number:</strong> +31 123 08 4567</li>
      </ul>
      
</div>

{% endblock %}