{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1 class="reservation-title">Reservations</h1>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <form class="col-md-12 mx-auto" action="{% url 'reservations' %}" method="post" enctype="multipart/form-data">

            {% csrf_token %}
            {{ form | crispy }}

            <div class="d-flex justify-content-center button-row">
                <button type="submit" class="reserve-button" id="book-now-btn">Book Now</button>
                {% if user.is_authenticated %}
                <a href="{% url 'user_reservations' %}" class="reserve-button"
                    id="reserve-link">Update Booking
                </a>
                {% endif %}
            </div>
        </form>
    </div>
    <div class="side-image">
        <img src="{{ time_image.image.url }}" id="open-times-image" class="time-image" alt="an image displaying the open times for the restaurant">
    </div>
</div>
</div>
{% endblock %}




