{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<main>
    <section class="section">
        <div class="container">
            <div class="col-12">
                <h1 class="page-title">{{ post.title }}</h1>
                <p class="home-description">{{ post.excerpt }}</p>
                <div class="col-md-4 sidebar ftco-animate pt-3">
                    <div class="sidebar-box pt-md-4">
                        <form action="{% url 'post_list' %}" method="POST" class="search-form" id="recipes-search">
                            {% csrf_token %}

                            <div class="input-group mb-3">
                                <input type="search" name="recipe_name" id="recipe-input" class="form-control"
                                    placeholder="Enter Recipe Here..." aria-label="Recipe Name"
                                    aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i
                                        class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-8 mb-5 mb-lg-0">
                <div class="col-12 mb-4">
                    <div class="card article-card">
                        <div class="card-image">
                            <div class="post-info"> <span class="text-uppercase">{{ post.datepublished }}</span>
                            </div>
                            <img loading="lazy" decoding="async" src="{{ post.featured_image.url }}"
                                alt="Post Thumbnail" class="w-100">
                        </div>
                        <div class="card-body px-0 pb-1">
                            <ul class="post-meta mb-2">
                                <li>
                                    {{ post.get_meal_type_display|capfirst }} </li>,

                                <li> {{ post.get_food_type_display }}
                                </li>
                            </ul>
                            <div class="meta-wrap" id="post-meta">
                                <form action="{% url 'post_like' post.slug %}" method="POST">
                                    {% csrf_token %}
                                    <p class="meta">
                                        <span><i class="fa-solid fa-calendar-days"></i>{{ post.created_on }}</span>
                                        <span><i class="fa-solid fa-user-pen"></i>{{ post.author}}</span>

                                        <button type="submit" name="post_id" value="{{ post.id }}"><i
                                                class="fa-solid fa-heart"></i></button>{{ post.number_of_likes}}

                                    </p>
                                </form>
                            </div>
                        </div>

                        {% if user.is_staff %}
                        <div class="blog-post-buttons">
                            <a href="{% url 'edit_blog_post' post.slug %}"><button type="submit"
                                    class="reserve-button">Edit</button></a>
                            <a href="{% url 'delete_blog_post' post.slug %}"><button type="submit"
                                    class="reserve-button">Delete</button></a>
                        </div>
                        {% endif %}
                        <div class="main-description">{{  post.content|safe  }}
                        </div>

                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 card mb-4  mt-3 ">
                            <h3 class="main-comment">Comments:</h3>
                            <div class="card-body">
                                {% for comment in comments %}
                                {% if commented %}

                                <div class="comments" style="padding: 10px;">
                                    <p class="font-weight-bold">
                                        {{ comment.name }}
                                        <span class=" text-muted font-weight-normal">
                                            {{ comment.created_on }}
                                        </span> wrote:
                                        {% if user.is_staff %}
                                        <span> <a href="{% url 'edit_blog_comment' post.slug %}"
                                                class="btn btn-success comment-button">Edit</a>
                                            <a href="{% url 'delete_blog_comment' post.slug %}"
                                                class="btn btn-danger comment-button">Delete</a></span>
                                        {% endif %}
                                    </p>
                                    {{ comment.body | linebreaks }}
                                </div>
                                {% if user.is_authenticated %}
                                <span> <a href="{% url 'edit_blog_comment' post.id %}"
                                        class="btn btn-success comment-button">Edit</a>
                                    <a href="{% url 'delete_blog_comment' post.id %}"
                                        class="btn btn-danger comment-button">Delete</a></span>
                                {% endif %}
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-md-4 card mb-4 mt-3 ">

                            <div class="card-body">

                                {% if user.is_authenticated %}

                                <h3 class="comment-head">Leave a comment:</h3>
                                <p>Posting as: {{ user.username }}</p>
                                <form method="post" style="margin-top: 1.3em;">
                                    {{ comment_form | crispy }}
                                    {% csrf_token %}
                                    <button type="submit" class="submit-btn">Submit</button>
                                </form>

                                {% endif %}

                            </div>
                        </div>
                    </div>
</main>
{% endblock %}