{% extends 'base.html' %}
{% block content %}

<h1 class="create-form">Delete Post</h1>

<div class="delete-desc">
    <h4>Do you want to delete "{{post.title}}"?</h4>
    <p><strong>Please note:</strong>The applied changes are <strong>PERMANENT.</strong></p>
</div>
<form class="create-form" action="" method="post" enctype="multipart/form-data">

    {% csrf_token %}
    <a href="{% url 'post_detail' post.slug %}" class="back-link"><button type="button" class="form-button">Go
            Back</button></a>
    <button type="submit" class="form-button">Delete</button>

</form>
{% endblock %}