{% extends 'base.html' %}
{% block content %}
<main>
    <section class="section">
        <div class="container">
            <div class="row no-gutters-lg">
                <div class="col-12">
                    <h1 class="page-title">Our Recipe Blog</h1>
                    <p class="blog-description"><i><b>Finest taste of Indian cuisine at your home.</i></p>
                </div>
                <div class="col-md-4 sidebar ftco-animate pt-5">
                    <div class="sidebar-box pt-md-4">
                        <form action="{% url 'post_list' %}" method="POST" class="search-form" id="recipes-search">
                            {% csrf_token %}

                            <div class="input-group mb-3">
                                <input type="search" name="recipe_name" id="recipe-input" class="form-control"
                                    placeholder="Enter Recipe Here..." aria-label="Recipe Name"
                                    aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i
                                        class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </form>
                    </div>
                </div>

                {% for post in page_obj %}
                <div class="col-8 mb-4">
                    <div class="card article-card">
                        <a href="{% url 'post_list' %}">
                            <div class="card-image">
                                <div class="post-info"> <span class="text-uppercase">{{ post.datepublished }}</span>
                                </div>
                                <img loading="lazy" decoding="async" src="{{ post.featured_image.url }}"
                                    alt="Post Thumbnail" class="w-100">
                            </div>
                        </a>
                        <div class="card-body px-0 pb-1">
                            <ul class="post-meta mb-2">
                                <li> {{ post.get_meal_type_display| capfirst }} </li>,

                                <li> {{ post.get_food_type_display| capfirst }}</li>

                            </ul>
                            <div class="meta-wrap">
                                <p class="meta">
                                    <span><i class="fa-solid fa-calendar-days"></i>{{ post.created_on }}</span>
                                    <span><i class="fa-solid fa-user-pen"></i>{{ post.author}}</span>
                                    <span><i
                                        class="fa-solid fa-heart"></i>{{ post.number_of_likes}}</span>
            

                                </p>
                            </div>
                            <h2 class="h1">{{ post.title }}</h2>
                            <p class="card-text">{{ post.excerpt }}</p>
                            <div class="content"> <a class="read-more-btn" href="{% url 'post_detail' post.slug %}">Read
                                    More</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="pagination p-links">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1" class="page">&laquo</a>
                <a href="?page={{ page_obj.previous_page_number }}"></a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"></a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="page">&raquo;</a>
                {% endif %}
            </span>
        </div>
    </section>
</main>
{% endblock %}