{% extends 'base.html' %}
{% block content %}
<main>
    <section class="section">
        <div class="container">
            <div class="row no-gutters-lg">
                <div class="col-12">
                    <h1 class="page-title">Our Recipe Blog</h1>
                    <p class="blog-description"><i><b>Finest taste of Indian cuisine at your home.</i></p>
                </div>
                <div class="col-md-8 mb-5 mb-lg-0">
                    <div class="row">
                        {% for recipe in recipes %}
                        <div class="col-12 mb-4">
                            <article class="card article-card">
                                <a href="{% url 'post_list' recipe.slug %}">
                                    <div class="card-image">
                                        <div class="post-info"> <span
                                                class="text-uppercase">{{ recipe.datepublished }}</span>
                                        </div>
                                        <img loading="lazy" decoding="async" src="{{ recipe.featured_image.url }}"
                                            alt="Post Thumbnail" class="w-100">
                                    </div>
                                </a>
                                <div class="card-body px-0 pb-1">
                                    <ul class="post-meta mb-2">
                                        <li> <a href="#">{{ recipe.get_meal_type_display }}</a>
                                            <a href="#">{{ recipe.get_food_type_display }}</a>
                                        </li>
                                    </ul>
                                    <div class="meta-wrap">
                                        <p class="meta">
                                            <span><i
                                                    class="fa-solid fa-calendar-days"></i>{{ recipe.created_on }}</span>
                                            <span><i
                                                    class="fa-solid fa-user-pen"></i>{{ recipe.author | capfirst }}</span>
                                            <span><i
                                                    class="fa-solid fa-thumbs-up"></i>{{ recipe.number_of_likes }}</span>
                                        </p>
                                    </div>
                                    <h2 class="h1"><a class="post-title"
                                            href="{% url 'post_list' recipe.slug %}">{{ recipe.title }}</a></h2>
                                    <p class="card-text">{{ recipe.excerpt }}</p>
                                    <div class="content"> <a class="read-more-btn"
                                            href="{% url 'post_list' recipe.slug %}">Read More</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4 sidebar ftco-animate pt-5">
                    <div class="sidebar-box pt-md-4">
                        <form action="" method="POST" class="search-form" id="recipes-search">
                            {% csrf_token %}

                            <div class="input-group mb-3">
                                <input type="search" name="recipe_name" id="recipe-input" class="form-control"
                                    placeholder="Enter Recipe Name Here..." aria-label="Recipe Name"
                                    aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i
                                        class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}