{% extends 'base.html' %}
{% block content %}

<div class="create-form">
    <h1 class="create-form">Delete Item</h1>

    <div class="delete-desc">
        <h3>Are you sure you wish to delete "{{ plate }}"?</h3>
        <p>Please note: The applied changes are <strong>PERMANENT</strong>!</p>
    </div>


    <form class="menu-form" method="POST">
        {% csrf_token %}
        <div class="form-button-container">
        <a href="{% url 'menu' %}" class="btn primary form-button">Go Back</a>
        <button type="submit" class="form-button">Delete</button>
    </div>
    </form>
</div>


{% endblock %}