{% extends 'base.html' %}
{% block content %}
<h1 class="menu-title">Our Menu</h1>
</div>
</div>
<div class="row menu-row">
    {% for menu in menu %}
    <div class="col-sm-10 col-md-5 col-lg-3 menu-card">
        <div class="image-card">
            <img src="{{ menu.featured_image.url }}" class="menu-image" alt="menu">

        </div>
        <div class="desc-block">
            <h3 class="desc-item">{{ menu.name }} - £{{ menu.price }}</h3>
            <p class="info-item info-p">{{ menu.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}