{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card login-card">
    <div class="card-header">
        <h1 class="page-title">Login</h1>
    </div>
    <div class="card-body">
        <form action="{% url 'login' %}" method="POST" class="login-form">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="" type="submit">Login</button>
        </form>
    </div>
    <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
</div>
{% endblock %}