{% extends 'base.html' %}
{% block content %}

<h1 class="profile-title">Your Profile</h1>

<div class="card register-card">
    <div class="card-header profile-header">
        <img class="profile-image" src="{{ profile.profile_image.url }}" alt="User's profile picture">
        <div class="profile-actions"></div>
        </div>

    </div>
    <div class="card-body" id="profile-card-body">
        <div class="card-body-details">
            <div>
                <h3>Name: </h3>
                <h5>{{ profile.name }}</h5>
            </div>
            <div>
                <h3>Username:</h3>
                <h5>{{ profile.username }}</h5>
            </div>
            <div>
                <h3>User Email:</h3>
                <h5>{{ profile.email }}</h5>
            </div>
        </div>
        {% endblock %}