{% extends 'base.html' %}
{% block content %}

<h1 class="profile-title">Your Profile</h1>
<div class="row my-3 p-3">
    <h1 class="title-p">This is the profile page of {{ profile.username }}</h1>
</div>
<div class="card register-card">
    <div class="card-header profile-header">
        <img class="profile-image" src="{{ profile.profile_image.url }}" alt="User's profile picture">

    </div>

</div>
<div class="card-body" id="profile-card-body">
    <div class="card-body-details">
        <div>
            <h3 class="heading-profile">Name: </h3>
            <h5>{{ profile.name }}</h5>
        </div>
        <div>
            <h3 class="heading-profile">Username:</h3>
            <h5>{{ profile.username }}</h5>
        </div>
        <div>
            <h3 class="heading-profile">Email:</h3>
            <h5>{{ profile.email }}</h5>
        </div>
    </div>
    {% if user.is_staff %}
    <div class="card-body-icons">
        <div>
            <h3 class="heading-profile">Comments:</h3>
            <h5><i class="fa-solid fa-comment"></i> {{ comments }}</h5>
        </div>
        <div>
            <h3 class="heading-profile">Reservations:</h3>
            <h5><a href="{% url 'user_reservations' %}"><i class="fa-solid fa-calendar-days"></i>
                {{ reservations }}</h5>
        </div>
    </div>
    {% else %}
    <div class="card-body-icons">
        <div>
            <h3 class="heading-profile">Comments:</h3>
            <h5><i class="fa-solid fa-comment"></i> {{ user_comments }}</h5>
        </div>
        <div>
            <h3><a href="{% url 'user_reservations' %}"><i class="fa-solid fa-calendar-days"></i></a>
                {{ reservations }}</h5>
        </div>
    </div>
    {% endif %}

    <div class="profile-actions">
        <a href="{% url 'edit_profile' %}" class="profile-link"><button class="reserve-button">Edit
                Profile</button></a>
        <a href="{% url 'delete_profile' %}" class="profile-link"><button class="reserve-button">Delete
                Profile</button></a>

    </div>
</div>

{% endblock %}