{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card register-card">
    <div class="card-header">
        <h1 class="page-title" id="register-title">User Registration</h1>
    </div>
    <div class="card-body">
        <form action="{% url 'register' %}" method="post" id="register-form">
            {% csrf_token %}

            {{ form|crispy }}

            {% for error in field.errors %}
            <p style="color: red;">{{error}}</p>
            {% endfor %}


            <button type="submit" class="form-button">Submit</button>
        </form>
    </div>
</div>
{% endblock %}